version: '3.8'
services:
  db:
    image: postgres:15-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: kietvo
      POSTGRES_PASSWORD: 2468
      POSTGRES_DB: edutech_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: